body{
  font-size: 1vw;
  font-family: "Dancing Script";
  background-color: #02010a;
}
section{
  width: 100%;
}
/* clase utilizada para dar estilo al menu */
.actual{
  text-decoration: none;
}
/* clase para centrar la imagen principal */
.img1{
  display:block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid b
}
/* clase para dar estilo a las columnas del index */
.col-2{
  display: flex;
  flex-basis: 40%;
  width: 100%;
}
/* clase para las imagenes del index para escritorio */
.img2 {
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: auto;
  padding-right: auto;
  width: 50%;
}

#cabecera{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border: 0px solid;
  width: auto;
}
#cabecera  h1{
  text-shadow: 2px 2px #02010a;
  color: white;
  display: inline-block;
}
#cabecera p{
  float: right;
  color: white;
  display: inline-block;
}
#cabecera p a{
  color: #ffffff;
  width: auto;
}
#imagen1 {
  background: #82c3a6;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
#imgCen {
box-shadow: 2px 2px 2px #02010a;
}
#imagen2{
  background: #d5c75f;
  border: 1px;
}

#imagen2  div figure img {
  box-shadow: 2px 2px 2px #02010a;
}
/* #imagen2 div figure img{
  text-align: center;
} */
