body{
  font-size: 2vh;
  font-family: "Dancing Script";
  background-color: #02010a;
}
header{
  display: flex;
  flex-flow: row wrap;
}
section{
  width: 100%;
}
footer{
  border-radius: 0 0 10px 10px;
  background: #C6d5c5;
  width: 100%;
}
.contenido{
  width: 900px;
}
/* clase utilizada para dar estilo al menu */
.actual{
  text-decoration: none;
}
.contenedor{
  padding-top: 10px;
  padding-bottom: 10px;
}
.cabecera{
  height: 100%;
}
/* clases para las imagenes*/
.img1{
  height: 50%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 2px #02010a;
}
.img2 {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: auto;
  padding-right: auto;
  width: 80%;
}
.logo{
  height: 20px;
  border-radius: 40px;
}
/* clases para dar estilo a las columnas del index */
.col-1{
  margin-left: 10px;
  margin-right: 10px;
}
.col-2{
  display: flex;
  flex-wrap: 50%;
  width: 100%;
}
.col-4{
  display: flex;
  flex-basis: 25%;
  width: 100%;
}
.img-col-2{
  display: flex;
  flex-basis: 40%;
  width: 100%;
}
/* clase para el color del texto */
.color{
  color: #000000;
  width: auto;
}

#cabecera{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border: 0px solid;
  width: 100%;

}
#cabecera  h1{
  text-shadow: 2px 2px #02010a;
  color: white;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: 80%;
}
#cabecera p{
  color: white;
  display: inline-block;
  margin-left: 10px;
}
#cabecera p a{
  color: #ffffff;
  width: auto;
}
#imagen1 {
  background: #82c3a6;
}
#imagen2{
  background: #d5c75f;
  border: 1px;
}

#imagen2  div figure div img {
  box-shadow: 2px 2px 2px #02010a;
}

#imgIzq figure img{
  width: 100%;
  display: block;
  box-shadow: 2px 2px 2px #02010a;
}
#paisajes:hover{
  transform: rotate(10deg);
}
#imgDer figure img{
  width: 100%;
  display: block;
  box-shadow: 2px 2px 2px #02010a;
  /* height: 50%; */
}
#rostros:hover{
  transform: translate(20px, -5px);
}

@media (max-width:900px) {
  .contenido{
    width: 100%;
  }
  #imagen2 {
    width: 100%;
  }
  .img-col-2{
    display: block;
    width: 100%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: auto;
    padding-right: auto;
  }
  .img1{
    width: 100%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px #02010a;
  }
  .img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
  }
  .col-2{
  display: flex;
  flex-basis: 50%;
  width: 100%
  }
  #footer{
    font-size: 5vw;
    display: flex;
    flex-direction: column;
  }

  #contacto{
    order: 1;
    width: 100%
  }
  #termino{
    width: 100%;
    order: 2;
  }
  #social_media{
    width: 100%;
    order: 3;
  }
  #derechos{
    width: 100%;
    order: 4;
  }
}
